body {
  padding: 0;
  margin: 0;
  height: 200vh;
}

.chattingDiv {
  position: fixed !important;
  z-index: 10000000 !important;
  bottom: calc(30px + env(safe-area-inset-bottom)) !important;
  right: 30px !important;
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.chattingBtn-img {
  width: 48px;
  height: 48px;
}
